<meta charset="utf-8">
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>    
<!--link rel="stylesheet" href="{{ "/assets/index.css" | relative_url }}"-->


<!-- For the browser -->
<title>Stereotic Documentation </title>
<meta name="application-name" content="Stereotic Documentation"/>
<meta name="description" content="Documentation of Stereotic: Investment as a joyful experience - highly efficient comparative crypto analytics with integrated price charts, 
statistics, signals, AI-selected news and social data." />

<!-- For Facebook and other open graph based crawlers -->
<meta property="og:url" content="https://stereotic.com/docs"/>
<meta name="og:description" content="Documentation of Stereotic: Investment as a joyful experience - highly efficient comparative crypto analytics with integrated price charts, 
statistics, signals, AI-selected news and social data." />
<meta name="og:title" content="Stereotic Documentation" />
<meta name="og:site_name" content="Stereotic Documentation" />
<meta name="og:locale" content="en_US" />
<meta name="og:image" content="https://stereotic.com/explore/social_media.png" />

<!-- For Twitter -->
<meta name="twitter:title" content="Stereotic Documentation" />
<meta name="twitter:description" content="Documentation of Stereotic: Investment as a joyful experience - highly efficient comparative crypto analytics with integrated price charts, 
statistics, signals, AI-selected news and social data." />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="https://stereotic.com/explore/social_media.png" />

<!-- PWA -->
<link rel="apple-touch-icon" href="/icon-180x180.png" sizes="180x180" />
<link rel="mask-icon" href="/svg-icon.svg" color="#353647" />
<meta name="theme-color" content="#be8904" />